.header {
    position: relative;
    width: 100%;
    height: 30vh;
    background-image: url('https://w.wallhaven.cc/full/6k/wallhaven-6kj31q.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;

    &__heading--primary {
        letter-spacing: 0.2rem;
        font-family: $fancy-font;
        color: $color-white;
        font-size: 4rem;
        margin: 3rem;
        margin-top: 6rem;
    }
    &__heading--secondary {
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        color: $color-white;
        margin-left: 3rem;
    }
    &__nav {
        z-index: 2000;
        width: 100%;
        padding: 0.8rem;
        position: absolute;
        display: flex;
        justify-content: flex-end;
    }
    &__link {
        height: 2.5rem;
        color: $nav-color;
        font-size: 1.6rem;
        margin: 0 1rem;
        transition: opacity 0.2s;
    }
    &__link:hover {
        opacity: 0.6;
        border-bottom: 0.3rem solid $color-white;
    }
    &_link:active {
        border-bottom: 0.3rem solid $color-white;
    }
}
